html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: lavender;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 1200px;
}

h1,
h2 {
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 4rem;
}

header,
section {
  height: 100vh;
}

.whitebg {
  background-color: #fff;
}

.mainNav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainNav li {
  margin-right: 10px;
}

.mainNav a {
  color: purple;
}
